@model IEnumerable<Locadora.Models.Locacao>

@{
    ViewData["Title"] = "Locação";
}

<h2>Locação</h2>

<p>
    <a asp-action="Create">Cadastrar Locação</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CpfCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataLocacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CpfCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataLocacao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LocacaoId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.LocacaoId">Detalhar</a> |
                <a asp-action="Delete" asp-route-id="@item.LocacaoId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
